@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
	font-size: 18px;
	font-family: sans-serif;
	box-sizing: border-box;
	
}
.navigation_bar{
	position: fixed; 
	top: 0px;
	left: 0px;
	width: 100%;
	height : 8% ;
	background-image: linear-gradient(to right,#b2999d,#c44646,#bb4545,#c32d2d,#b91515);
	z-index: 1;
	
}
.navmenu
{
	color: white;
	font-weight: bolder;
	transition-duration: 0.5s;
	font-size :20px;
	margin-left : 10px;
	
}
.navmenu:hover{
	color: rgb(163, 173, 233);
	 border: 2px solid rgb(229, 65, 122); 
	border-radius : 5px;
	
}
.logo,.text-focus-in{
	font-size: 30px;
	font-weight: bolder;
	font-variant: small-caps;
	font-family:Arial rgb(0, 0, 0) ;
	color: rgb(78, 150, 145);
	-webkit-text-stroke: 2px white;
}
.content-portfolio{
	position: absolute;
	top: 70px;
	left: 0px;
}
.content-portfolio .homesec
{
	height: 500px;
	width: 100vw;
	/*border: 2px solid black;*/
}
.content-portfolio div h1
{
	margin-top: 200px;
	text-align: center;
}
html{
	scroll-behavior: smooth;
}
.homesec{
	position: relative;
	top: 60px;
	left: 0px;
	height: 700px;
	width: 150vw;
	background-image: url(https://camo.githubusercontent.com/9792d43627b178fd4a45bcabb3647d7b34a62d64baf96a19abf6ea19d5cea8dd/68747470733a2f2f63646e2e6472696262626c652e636f6d2f75736572732f313138373833362f73637265656e73686f74732f363533393432392f70726f6772616d65722e676966);
	background-repeat: no-repeat;
	background-position: 90%;
	background-size: 40%;
}
.homesectiondiv{
	position: absolute;
	top: 60px;
	left: 60px;
	height: 300px;
	width: 900px;
	font-size: 30px;
	
}
#design {
	margin-top : -10px;
}
.ginfo{
	color: royalblue;
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 35px;
	margin-top : -50px;
}
.text-focus-in{
	font-size: 65px;

}
.designation{
	color: rgb(78, 156, 140);
	text-transform: uppercase;
	font-size: 45px;
	margin-bottom : -20px;
}
.rsm{
	height: 60px;
	width: 180px;
	color: white;
	background-color: lightgray;
	border: 2px solid green;
	font-weight: bolder;
	margin-left: 50px;
	border-radius: 10px;
	transition-duration: 1s;
	text-decoration: none;

}
.rsm:hover{
	transform: scale(1.2);
	box-shadow: 0px 0px 20px orangered;
	color: orangered;
	background-color: white;
	border: 2px solid orangered;
	text-decoration: none;

}
/*sdv*/
#About{
	height: 420px;
	width: 100vw;
	background-color: whitesmoke;
 	margin-top: 80px;
 	display: inline-flex;
	border : 2px solid rgb(157, 157, 168);
}
.abtimg{
	width: 40%;
}
.carrerobj
{
	width: 60%;
	padding-top: 0px;
	margin-top: -150px;
	font-size : -10px;
}

.myimg{
	margin: 20%;
	transition-duration: 1s;
	margin-top: 150px;
}
.myimg:hover{
	transform: scale(1.2);
	border-radius: 20px;
	box-shadow: 0px 0px 50px black;
}
.sectiontitle{
	color: rgb(78, 131, 118);
	font-weight: bolder;
	margin-left : -92px;
}
#goal {
	margin-left : -90px;
	margin-top : -70px;
}
.carrerobj p{
	font-size: 26px;
	padding: 28px;
	text-align: justify;
	text-indent: 10%;
	margin-right : 10px;
}
#Skills p {
	font-size : 25px;
	text-align :justify ;
	padding : 5px;
	 margin-left: 210px; 
	 color: rgb(69, 110, 236);
	 margin-top: -5px;
	
}
#Skills p span {
	color: rgb(64, 71, 112);
	margin-left: 25px;
}

#Skills h1 {
	color : rgb(79, 128, 119);
	font-weight :bolder;
	margin-top :50px;
	margin-bottom : 30px;
}
#Skills {
	border : 2px solid rgb(157, 157, 168);
	margin-bottom : -30px ;
	height : 730px;
}
#Projects h1 {
	color : rgb(78, 148, 138);
	font-weight :bolder ;
	margin-top: 70px;
}
#Projects h4 {
	margin-left : 40px
}
#Projects p {
	margin-left :30px
}
#Projects {
	border : 2px solid rgb(157, 157, 168);
	margin-top : 29px;
}
#Contact span {
	margin-left :50px
	
}
#Contact h5 {
	margin-bottom : 20px;
}
#Contact h1 {
	color : rgb(78, 131, 121);
	font-weight: bolder;
	margin-top: 50px;
}
#Contact p a :hover {
	 transform: translateY(-5px); 

}
#Contact {
	border : 0.5px solid rgb(157, 157, 168);
	margin-top :0.1px;
	height : 300px;

}
.colr {
	color : gray;

}
#Education {
	border : 0.5px solid rgb(157, 157, 168);
	height : 480px;
}
#edutech {
	color :rgb(78, 124, 119);
	font-weight :bolder;
	margin-top :50px ;	

}
.portfolio_mdiv {
	position : absolute ;
}

#Projects span {
	margin-left: 30px;
}
#Projects h2 {
	 margin-left :30px; 
	color : royalblue ;
	margin-bottom: 18px;

}
.text-focus-in {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-12-7 21:20:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  


